.carousel__item {
    &--image {
        overflow: hidden;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover, cover;
        display: inline-block;
    }

    &--image::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: repeating-linear-gradient(
                to right,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
            )
            center top no-repeat;
        pointer-events: none;
        content: "";
        background-size: cover, cover;
    }
}
