.popular__movies-list--container {
    padding: 25px;
}

.popular__movies-list--separator {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.075) 90%);
    border: none;
    height: 2px;
}

.media-body {
    padding: 25px;
    align-items: center !important;
    justify-content: center;
}

.media {
    align-items: center !important;
    padding: 20px;
    margin: 20px;
    border-bottom: 2px solid black;
}
