.main-footer {
  background: linear-gradient(45deg, #131517, #131517), url("https://upload.wikimedia.org/wikipedia/commons/d/d6/Hamlin_theatre.jpg");
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  padding: 2rem;
  height: 100%;
  width: 100%; }
  .main-footer-top-header {
    font-size: 1rem;
    margin-bottom: 2rem; }
    .main-footer-top-header__title {
      font-family: "Alegreya Sans", sans-serif;
      letter-spacing: 0.4rem;
      text-transform: uppercase; }
    .main-footer-top-header-nav {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(3, 70px); }
  .main-footer-top-item {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .main-footer-top-item__title {
      color: rgba(255, 255, 255, 0.7);
      font-size: 0.9rem;
      font-weight: normal; }
  .main-footer-top-copyright {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5rem;
    margin-top: 2rem; }
  .main-footer-bottom {
    align-items: center;
    display: grid;
    grid-template-columns: 110px 1fr;
    margin-top: 2rem; }
    .main-footer-bottom-section-1 {
      fill: #EB4E7A;
      height: auto;
      width: 110px; }
    .main-footer-bottom-section-2 {
      text-align: right; }
      .main-footer-bottom-section-2__icon {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        fill: #1C262B;
        height: auto;
        margin: 0 10px;
        padding: 5px;
        transition: background-color 0.4s;
        width: 20px; }
        .main-footer-bottom-section-2__icon:hover {
          background-color: white;
          transition: background-color 0.4s; }
  .main-footer a,
  .main-footer a:active,
  .main-footer a:hover,
  .main-footer a:visited {
    color: inherit;
    text-decoration: none; }

@media only screen and (min-width: 600px) {
  .main-footer {
    padding: 4rem; }
    .main-footer-top-header {
      display: grid;
      grid-template-columns: 200px 200px; }
    .main-footer-bottom-section-2__icon {
      padding: 8px;
      width: 25px; } }

@media only screen and (min-width: 900px) {
  .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
    padding: 7rem; }
    .main-footer-bottom {
      grid-template-columns: 1fr;
      justify-items: right; }
      .main-footer-bottom-section-1 {
        align-self: flex-start;
        width: 190px; }
      .main-footer-bottom-section-2 {
        align-self: flex-end; } }

@media only screen and (min-width: 1400px) {
  .main-footer {
    padding: 10rem 12rem; } }
